@font-face {
    font-family: flexslider-icon;
    src: url(..//bower_components/flexslider/fonts/flexslider/flexslider-icon.eot);
    src: url(..//bower_components/flexslider/fonts/flexslider/flexslider-icon.svg);
    src: url(..//bower_components/flexslider/fonts/flexslider/flexslider-icon.ttf);
    src: url(..//bower_components/flexslider/fonts/flexslider/flexslider-icon.woff);
}