.navbar-nav {
    float: right;
}
.navbar-default {
    background: transparent;
    border-color: transparent;
}
.navbar-internals {
    background: #073047;
    background: -moz-linear-gradient(-45deg, #073047 0%, #225f81 51%, #4d8aae 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#073047), color-stop(51%,#225f81), color-stop(100%,#4d8aae));
    background: -webkit-linear-gradient(-45deg, #073047 0%,#225f81 51%,#4d8aae 100%);
    background: -o-linear-gradient(-45deg, #073047 0%,#225f81 51%,#4d8aae 100%);
    background: -ms-linear-gradient(-45deg, #073047 0%,#225f81 51%,#4d8aae 100%);
    background: linear-gradient(135deg, #073047 0%,#225f81 51%,#4d8aae 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073047', endColorstr='#4d8aae',GradientType=1 );
}
.top-nav-collapse {
    background: #073047;
    background: -moz-linear-gradient(-45deg, #073047 0%, #225f81 51%, #4d8aae 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#073047), color-stop(51%,#225f81), color-stop(100%,#4d8aae));
    background: -webkit-linear-gradient(-45deg, #073047 0%,#225f81 51%,#4d8aae 100%);
    background: -o-linear-gradient(-45deg, #073047 0%,#225f81 51%,#4d8aae 100%);
    background: -ms-linear-gradient(-45deg, #073047 0%,#225f81 51%,#4d8aae 100%);
    background: linear-gradient(135deg, #073047 0%,#225f81 51%,#4d8aae 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073047', endColorstr='#4d8aae',GradientType=1 );
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus {
    background: #fff;
}

.navbar-brand {
    text-transform: uppercase;
}